In [1]:
import sys
sys.path.append(r'C:\Users\huzef\OneDrive\Documents\Projects\Projects\data_science_code')

from data_processor import DataProcessor
from classification_models import LogisticRegressionModel
from convert_categorical_variables import CategoricalEncoder

In [30]:
data_processor = DataProcessor()
train_df = data_processor.read_csv(r'C:\Users\huzef\OneDrive\Documents\Projects\Projects\data\titanic\train.csv')
test_df = data_processor.read_csv(r'C:\Users\huzef\OneDrive\Documents\Projects\Projects\data\titanic\test.csv')
gender_submission = data_processor.read_csv(r'C:\Users\huzef\OneDrive\Documents\Projects\Projects\data\titanic\gender_submission.csv')

In [31]:
train_data, test_data = data_processor.train_test_split(train_df, test_size=0.2, random_state=42)
X_train, y_train = data_processor.split_features_target(train_data, 'Survived')
X_test, y_test = data_processor.split_features_target(test_data, 'Survived')

Data split into training and testing sets successfully.
Features and target variable split successfully.
Features and target variable split successfully.

# EDA/ Feature Engineering

In [33]:
df = X_train.copy()

df.drop('PassengerId', axis=1, inplace=True)

df['Surname'] = df['Name'].str.split(',').str[0]
df['FirstName'] = df['Name'].str.split(',').str[1]
df['Title'] = df['FirstName'].str.split('.').str[0]
df.drop(['Name', 'FirstName', 'Surname'], axis=1, inplace=True)

df['Sex'] = df['Sex'].map({'male': 1, 'female': 0})

df.head(30)

# come back to Age -- fil missing values

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
331,1,1,45.5,0,0,113043,28.5000,C124,S,Mr
733,2,1,23.0,0,0,28425,13.0000,NaN,S,Mr
382,3,1,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S,Mr
704,3,1,26.0,1,0,350025,7.8542,NaN,S,Mr
813,3,0,6.0,4,2,347082,31.2750,NaN,S,Miss
118,1,1,24.0,0,1,PC 17558,247.5208,B58 B60,C,Mr
536,1,1,45.0,0,0,113050,26.5500,B38,S,Major
361,2,1,29.0,1,0,SC/PARIS 2167,27.7208,NaN,C,Mr
29,3,1,NaN,0,0,349216,7.8958,NaN,S,Mr
55,1,1,NaN,0,0,19947,35.5000,C52,S,Mr
865,2,0,42.0,0,0,236852,13.0000,NaN,S,Mrs
595,3,1,36.0,1,1,345773,24.1500,NaN,S,Mr
239,2,1,33.0,0,0,SCO/W 1585,12.2750,NaN,S,Mr
721,3,1,17.0,1,0,350048,7.0542,NaN,S,Mr
81,3,1,29.0,0,0,345779,9.5000,NaN,S,Mr
259,2,0,50.0,0,1,230433,26.0000,NaN,S,Mrs
486,1,0,35.0,1,0,19943,90.0000,C93,S,Mrs
716,1,0,38.0,0,0,PC 17757,227.5250,C45,C,Miss
800,2,1,34.0,0,0,250647,13.0000,NaN,S,Mr
781,1,0,17.0,1,0,17474,57.0000,B20,S,Mrs
542,3,0,11.0,4,2,347082,31.2750,NaN,S,Miss
326,3,1,61.0,0,0,345364,6.2375,NaN,S,Mr
534,3,0,30.0,0,0,315084,8.6625,NaN,S,Miss
535,2,0,7.0,0,2,F.C.C. 13529,26.2500,NaN,S,Miss
483,3,0,63.0,0,0,4134,9.5875,NaN,S,Mrs
762,3,1,20.0,0,0,2663,7.2292,NaN,C,Mr
533,3,0,NaN,0,2,2668,22.3583,NaN,C,Mrs
713,3,1,29.0,0,0,7545,9.4833,NaN,S,Mr
390,1,1,36.0,1,2,113760,120.0000,B96 B98,S,Mr
495,3,1,NaN,0,0,2627,14.4583,NaN,C,Mr

In [ ]:
X_train.fillna(0, inplace=True)

In [ ]:
encoder = CategoricalEncoder(X_train)
X_train = encoder.one_hot_encoding(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'])
X_train.head()

In [ ]:
log_reg_model = LogisticRegressionModel()
log_reg_model.set_params(random_state=42, max_iter=1000) 
log_reg_model.train(X_train, y_train)
print(log_reg_model.get_coefficients())
print(log_reg_model.get_params())